@import "mocha.css";

/* Configurações Globais */
* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

/* Janela Principal da Waybar */
window#waybar {
    background-color: @crust; /* Cor escura do Catppuccin */
    color: @text;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @overlay1;
}

/* Estilo para o Título da Janela (Centro) */
#window {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: @mauve;
}

/* Estilo base para todos os módulos (O segredo do Padding está aqui) */
#workspaces,
#pulseaudio,
#clock,
#network,
#custom-power {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;  /* Aumentei para dar o respiro que faltava */
    padding-right: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
}

/* --- Workspaces (Esquerda) --- */
#workspaces button {
    padding: 0 8px;
    color: @overlay0;
}

#workspaces button.active {
    color: @mauve;
    border-bottom: 3px solid @mauve; /* Borda mais grossa para 4K */
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.1);
    color: @rosewater;
    border-bottom: 3px solid @rosewater;
}

#workspaces button:hover {
    background: @surface0;
    color: @mauve;
}

#workspaces button.urgent {
    background-color: @red;
    color: @crust;
}

/* --- Módulos da Direita (Cores e Bordas) --- */

#network {
    color: @yellow;
    border-bottom: 2px solid @yellow;
}

/* Se o Network estiver desconectado, muda a cor para vermelho */
#network.disconnected {
    color: @red;
    border-bottom: 2px solid @red;
}

#pulseaudio {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#pulseaudio.muted {
    color: @overlay0;
    border-bottom: 2px solid @overlay0;
}

#clock {
    color: @maroon;
    border-bottom: 2px solid @maroon;
}

/* --- Botão de Power --- */
#custom-power {
    color: @red;
    border-bottom: 2px solid @red;
    margin-right: 15px; /* Espaço extra para não colar no canto da TV */
    padding-left: 15px;
    padding-right: 15px;
}

/* --- Outros Ajustes --- */
#tray {
    padding: 0 10px;
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

