@import "mocha.css";

/* 1. Remover o background-image do seletor universal para não quebrar os ícones */
* {
    transition: 200ms;
    font-family: "MesloLGS Nerd Font Mono Bold";
}

window {
    background-color: rgba(30, 30, 46, 0.5);
}

/* 2. Ajuste dos Botões */
button {
    color: @text;
    background-color: @surface0;
    outline-style: none;
    border: none;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%; /* Ajuste o tamanho do ícone aqui */
    margin: 40px; /* Espaço entre os botões */
}

/* 3. Ajuste do Texto (Label) */
button label {
    font-size: 20px;
    color: @text;
    margin-top: 110px; /* Ajuste para o texto não ficar em cima do ícone */
}

/* 4. Estados de Hover e Focus */
button:focus,
button:active,
button:hover {
    background-color: @mauve;
    background-size: 30%; /* Efeito de zoom leve no ícone ao passar o rato */
}

button:hover label {
    color: @crust;
}

/* 5. Ícones (Garante que o caminho está correto) */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

